@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome to Pizza Hut!";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>About Us</h2>
    <p>Welcome to Pizza Hut restaurant, where we offer a unique dining experience with a focus on fresh, locally-sourced ingredients. </p>

    <h2>Opening Hours</h2>
    <p>Monday to Friday: 11:00 AM - 10:00 PM</p>
    <p>Saturday to Sunday: 9:00 AM - 11:00 PM</p>

    <h2>Location</h2>
    <p>76th N Ave, Myrtle Beach, South Carolina</p>

    <h2>Contact Us</h2>
    <p>Phone: (843) 756-1410</p>
    <p>Email: info@pizzahut.com</p>
</div>
